/* == base */
:root
{
	/* Couleurs */
	--maincolor: #ffffff;
	--subColor: rgb(243, 196, 96);
	--backgroundColor: #0e0e0f;
	--border: rgb(92, 92, 92);
	--comment: rgb(96, 216, 96);
	/* Mesures */
	--smallRadius: 3px;
	--averageRadius: 5px;
	
}

body
{
	margin: 0;
	padding: 0;
	background: var(--backgroundColor);
	color: var(--maincolor);
	font-family: Calibri;
	font-size: large;
}

/* == global rules */
hr { width: 100%; margin: 2px 0; }
h2, h3 { color: var(--subColor); }
/* == layout */
div.pageContainer
{
	display: grid;
	grid-template-areas:
	"header"
	"body"
	"footer";
	grid-template-rows: 4rem auto 2rem;
	height: 100vh;
}
/* Header*/
div.header
{
	grid-area: header;
	text-align: center;
}
div.header > img { margin: 10px 0 0 0; }
/* Body*/
div.body
{
	grid-area: body;
}
div.mainContainer
{
	width: 945px;
	margin: 0 auto 1rem;
	padding: 25px 55px;
	outline: var(--border) solid 1px;
	border-radius: var(--smallRadius);
	box-shadow: var(--border) 5px 5px 0;
}
div.banner
{
	text-align: center;
}
div.banner > img
{
	position: relative;
	bottom: 25px;
	right: 55px;
	border-radius: var(--smallRadius) var(--smallRadius) 0 0;
}
div.banner > div.title
{
	position: relative;
	bottom: 100px; background: var(--backgroundColor);
	width: fit-content;
	border-radius: 25px 25px 0 0;
	margin: 0 auto;
	padding: 5px 25px;
}
h1.title, h2.title
{
	margin: 0.4em;
}
div.textGrid
{
	display: grid;
	grid-template-areas: "a b";
	grid-template-columns: 50%;
	gap: 24px;
	text-align: justify;
}
.commentBloc { color: var(--comment); font-family: Consolas; }
div.couleur
{
	background: var(--border);
	border-radius: var(--averageRadius);
}
/* Footer*/
div.footer
{
	grid-area: footer;
	font-size: 0.8em;
	text-align: center;
}